<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recognition</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <h1></h1>
        <form action="/" enctype="multipart/form-data" method="post">
            <input type="file" name="fileUpload" id="fileUpload">
            <input type="submit" value="Post">
        </form>
        {% if message %}
        <h1>{{message}}</h1>
        {% endif %}
    </div>
</body>
</html>